MONGODB_URI=mongodb+srv://username:password@cluster0.example.mongodb.net/database_name?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
NEXT_PUBLIC_API_URL=http://localhost:3005

GCS_BUCKET_NAME="your_bucket_name"
GCP_PROJECT_ID="your-project-id"
GCS_CLIENT_EMAIL="your-service-account@your-project-id.iam.gserviceaccount.com"
GCS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
